<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Website</title>
	<link rel="stylesheet" type="text/css" href="../assets/style.css">
</head>
<body>
	<!-- <nav>
		<ul>
			<li><a href="/">主页</a></li>
			<li><a href="/contact">联系我们</a></li>
			<li><a href="/blogs/1">博客</a></li>
		</ul>
	</nav> -->
	<% include ../public/nav.ejs %>
	<h1>联系我们</h1>
	<p>Tel:243-4334-3462</p>

</body>
</html>